# Live Class - 2nd July and 3rd July 2022

# Learning Python Basics

In [1]:
1+1

2

In [2]:
2-1

1

In [3]:
2*3

6

In [4]:
5*5

25

In [5]:
10/2

5.0

In [13]:
# floor Division
# Divide without float value 

10//2

5

In [8]:
# Modulus to find remainder
11%2

1

In [11]:
# Power function to multiply
# 2 to the power of 2
# 2 to the power of 5
2**2

4

In [12]:
2*2*2*2*2

32

# Working with variables

In [15]:
# Variable are containers which will hold the values

In [16]:
a = 10
b = 20

In [17]:
a+b

30

In [18]:
a*b

200

In [22]:
b//a

2

In [21]:
b%a

0

In [23]:
# print command

In [24]:
print("Hello World")

Hello World

In [25]:
print('Hello')

Hello

In [27]:
c = b-a

In [28]:
print(c)

10

In [30]:
print("c=",c)

c= 10

In [31]:
print("c =",c)

c = 10

# Area of Rectangle

In [36]:
length = 22
breadth = 15

area = length* breadth
print("Area of Rectangle =", area)
print("Area of Rectangle with length =", length,"and breadth =",breadth,"is",area)

Area of Rectangle = 330
Area of Rectangle with length = 22 and breadth = 15 is 330

In [1]:
# String Concatenation

In [2]:
'6' + '6'

'66'

In [3]:
"6"+"6"

'66'

In [5]:
"Naveen" + " Kumar" + " Ranganathan"

'Naveen Kumar Ranganathan'

In [ ]:
# Boolean Commands

In [6]:
40>20

True

In [7]:
40<20

False

In [8]:
30!=20

True

In [11]:
30!=30.0

False

In [12]:
60==100

False

In [13]:
100==100

True

In [14]:
x =10
y =20

In [15]:
x >y

False

In [16]:
y<y

False

In [17]:
x==x

True

# Length of any data

In [38]:
n = (1,2,3,4,5,6,7,8,9)
len(n)

9

Data Types - Types Casting

In [19]:
# Data Types - String, Integers and Floats 

# String = str = characters - a to z or A to Z - should come in '' or "" quotation - We can give space inside quotation when concanete strings
# Integers = int = numbers - 0 to any numbers
# Floats = float = decimal - numbers in decimal - 0.2, 22.05
# Boolean - True or False

In [20]:
type(22)

int

In [21]:
type(2.0)

float

In [22]:
type(2)

int

Typecasting

In [24]:
# changing the type into another type
a = 250

float(a)

250.0

In [25]:
int(90.2)

90

In [26]:
int(90.9)

90

In [27]:
type("45")

str

In [28]:
int("45")

45

In [29]:
j =55

type(55)

int

In [30]:
s = float(j)
s

55.0

In [31]:
# User Input

In [36]:
city = input("Enter name")
city

Enter nameThenmozhi

'Thenmozhi'

In [37]:
food = input("Fish curry in grams")
food

Fish curry in grams500

'500'

In [41]:
x = input("Any value")

print(x)

type(x)

Any value50
50

str

In [44]:
x = float(input("Any value"))

print(x)

Any value50
50.0

# DataStructures

In [1]:
# List []    are containers which has data inside square box - It can contain any type of data It will allow duplicate value and it is an ordered collection of data
# Tuples()   
# Dictionary {}
# Sets 

# homogeneous - Same data types - for example only integers, string or floats separately
# Heterogenous - Mixed data types - for example contains all data types integers, string or floats in sinlge list

# List can also hold Boolean data types

# To identify length which means how many elements are there in the list
# we can use length function - len(list)

# list []

In [2]:
list = [1,2,3,4,5]

In [3]:
list

[1, 2, 3, 4, 5]

In [4]:
family = ["Ranga","Thenmozhi","Deepan","Rupavathi","Krithvik","Naveen"]
family

['Ranga', 'Thenmozhi', 'Deepan', 'Rupavathi', 'Krithvik', 'Naveen']

Index Slicing in list

In [6]:
list[0]

1

In [7]:
list[4]

5

In [9]:
family[5]

'Naveen'

 Slicing in list

In [10]:
# list = [start index: end index]

In [3]:
n = [2,4,5,6,7,8,9,10,12,13,15,16,22]

In [4]:
n

[2, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 22]

In [5]:
n[0:5]

[2, 4, 5, 6, 7]

In [6]:
len(n)

13

Negative Index

In [7]:
n

[2, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 22]

In [8]:
len(n)

13

In [9]:
n[-13]

2

In [10]:
n[-1]

22

In [11]:
n[-5:-1]

[12, 13, 15, 16]

In [12]:
n[-13:-6]

[2, 4, 5, 6, 7, 8, 9]

Slicing index with range in list

In [13]:
n[0:14:2]

[2, 5, 7, 9, 12, 15, 22]

In [20]:
n[1:14:1]

[4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 22]

In [23]:
n[0:14:3]

[2, 6, 9, 13, 22]

 Under List [] - We can use below operations

To rename list, we can use the newlistname=oldlistname

In [ ]:
/html/body/div[3]/div/div[2]/div/div[3]/button

In [ ]:
/html/body/div[3]/div/div[2]/div/div[3]/button

In [ ]:
# Append() - to add data inside the list - it will add the data next to the last data..and it will creat new list
# insert() - to add or insert data in between the list with "index" 
# sort() - to make the data in ascending order - will work only on homogenous list.....not in mixed list
# reverse() - to make the data in descending order - will work only on homogenous list...not in mixed list
# index() - to identify data in which order the data is
# extend() - to extend more than one data in the list without creating new list
# pop()  - to remove data from the list and this operation will remove the last data also use index to remove particular data
# remove() - to remove particular data from the list
# clear() - to remove entire data from the list
# del listname - will delete the entire list
# Nesting List [] - Nesting list means we can have data structures within data structures, for example a list inside a list

In [34]:
numlist = [1,2,3,4,5,6,7,8,9,12,13,14,15,16,17,18]

In [35]:
numlist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18]

In [56]:
# Append() - to add data inside the list - it will add the data next to the last data..and it will creat new list

In [38]:
numlist.append(19)

In [39]:
numlist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18, '19', 19]

In [57]:
# insert() - to add or insert data in between the list with "index"

In [51]:
numlist.insert(0,0)

In [52]:
numlist

[0, '0', 1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18, 19]

In [50]:
numlist

['0', 1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18, 19]

In [58]:
# remove() - to remove particular data from the list

In [41]:
numlist.remove('19')

In [53]:
numlist

[0, '0', 1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18, 19]

In [54]:
numlist.remove('0')

In [55]:
numlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# sort() - to make the data in ascending order - will work only on homogenous list.....not in mixed list

In [65]:
new = [4,6,8,22,34,67,89,100,300,2,3,1,5,11,12,45,56,23,97]

In [66]:
new

[4, 6, 8, 22, 34, 67, 89, 100, 300, 2, 3, 1, 5, 11, 12, 45, 56, 23, 97]

In [67]:
new.sort()

In [68]:
new

[1, 2, 3, 4, 5, 6, 8, 11, 12, 22, 23, 34, 45, 56, 67, 89, 97, 100, 300]

In [ ]:
# extend() - to extend more than one data in the list without creating new list

In [69]:
new.extend([101,102,103])

In [70]:
new

[1,
 2,
 3,
 4,
 5,
 6,
 8,
 11,
 12,
 22,
 23,
 34,
 45,
 56,
 67,
 89,
 97,
 100,
 300,
 101,
 102,
 103]

In [71]:
new.sort()

In [72]:
new

[1,
 2,
 3,
 4,
 5,
 6,
 8,
 11,
 12,
 22,
 23,
 34,
 45,
 56,
 67,
 89,
 97,
 100,
 101,
 102,
 103,
 300]

In [ ]:
# reverse() - to make the data in descending order - will work only on homogenous list...not in mixed list

In [73]:
new.reverse()

In [86]:
new

[2, 3, 4, 8, 12]

In [ ]:
# index() - to identify data in which order the data is

In [77]:
len(new)

22

In [75]:
new.index(102)

2

In [76]:
new.index(1)

21

In [ ]:
# pop()  - to remove data from the list and this operation will remove the last data also use index to remove particular data

In [88]:
m =[1,2,3,4,5,6,7,8,9,]
m

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
m.pop()

9

In [90]:
m.pop(2)

3

In [91]:
m

[1, 2, 4, 5, 6, 7, 8]

In [92]:
m.pop(-1)
m

[1, 2, 4, 5, 6, 7]

In [ ]:
# clear() - to remove entire data from the list

In [93]:
m.clear()
m

[]

In [97]:
new1 = [2,3,4,8,12,22]
new1

[2, 3, 4, 8, 12, 22]

In [103]:
new1 = [2,3,4,8,12,22]
new1

[2, 3, 4, 8, 12, 22]

In [104]:
new1[1] = 666

In [105]:
new1

[2, 666, 4, 8, 12, 22]

In [ ]:
# del listname - will delete the entire list

In [106]:
del new1

In [107]:
new1

NameError: name 'new1' is not defined

In [ ]:
# Nesting List [] - Nesting list means we can have data structures within data structures, for example a list inside a list

# Tuples

In [101]:
# Tuples()  - Collection of values or objects like list but it is immutable which means we cannot change tuple values after creation

In [111]:
t1 = (0,1,2,3,4,5)
t1

(0, 1, 2, 3, 4, 5)

In [114]:
t1[1] = 666

TypeError: 'tuple' object does not support item assignment

In [115]:
# accessing the element

In [117]:
t1[3]

3

In [118]:
t1[4]

4

# Dictionary

In [ ]:
# Dictionary{} structure
# Dictionary are mutable which means we can change the data inside the dicitionary after creation
# d1={key1:value1,key2:value2,key3:value3}
# In dictionary we can add keys and values and the same time we can also update new values to the existing values
# we cannot change the keys

In [2]:
d1 = {"ID":22,"Name":'Naveen',"Batch":622}

In [3]:
d1

{'ID': 22, 'Name': 'Naveen', 'Batch': 622}

In [4]:
d1.keys()

dict_keys(['ID', 'Name', 'Batch'])

In [5]:
d1.values()

dict_values([22, 'Naveen', 622])

In [6]:
d1.items()

dict_items([('ID', 22), ('Name', 'Naveen'), ('Batch', 622)])

In [7]:
d1['ID']

22

In [8]:
d1['Name']

'Naveen'

In [9]:
d1['ID']=24

In [11]:
d1

{'ID': 24, 'Name': 'Naveen', 'Batch': 622}

In [12]:
d1.update({'Age':32})

In [13]:
d1

{'ID': 24, 'Name': 'Naveen', 'Batch': 622, 'Age': 32}

In [15]:
print('The Name is :',d1['Name'])

The Name is : Naveen

In [16]:
del d1['ID']

In [17]:
d1

{'Name': 'Naveen', 'Batch': 622, 'Age': 32}

In [18]:
d1.update({"Fees":10000})

In [19]:
d1

{'Name': 'Naveen', 'Batch': 622, 'Age': 32, 'Fees': 10000}

In [20]:
d1["Fees"]=15000

In [21]:
d1

{'Name': 'Naveen', 'Batch': 622, 'Age': 32, 'Fees': 15000}

In [22]:
d1.clear()

In [23]:
d1

{}

In [24]:
del d1

In [25]:
d1

NameError: name 'd1' is not defined

In [26]:
d2={"ID":22,"Name":'Naveen',"Batch":622,"Age":32,"Martial Status": 'single'}

In [27]:
d2

{'ID': 22,
 'Name': 'Naveen',
 'Batch': 622,
 'Age': 32,
 'Martial Status': 'single'}

In [28]:
del d2['Martial Status']

In [29]:
d2

{'ID': 22, 'Name': 'Naveen', 'Batch': 622, 'Age': 32}

In [31]:
d2.pop('Age')

32

In [32]:
d2

{'ID': 22, 'Name': 'Naveen', 'Batch': 622}

In [36]:
d3 = {1:['Red','Yellow','Gold'],2:['Blue','Black','Cobalt'],3:['Green','Orange','Ruby']}

In [37]:
d3

{1: ['Red', 'Yellow', 'Gold'],
 2: ['Blue', 'Black', 'Cobalt'],
 3: ['Green', 'Orange', 'Ruby']}

In [39]:
d3[1][1]

'Yellow'

In [40]:
d3[2][0]

'Blue'

In [41]:
d3[3][2]

'Ruby'

In [42]:
d3[3][2] = 'Emerald'

In [43]:
d3

{1: ['Red', 'Yellow', 'Gold'],
 2: ['Blue', 'Black', 'Cobalt'],
 3: ['Green', 'Orange', 'Emerald']}

# Sets

In [45]:
# A python set is the collection of unordered items.Each items must be unique
# we cannot access index and it is immutable which we cannot modify after creation and no dupicates are allowed
# Unlike other collections in Python, there is no index attached to the elements of the set i.e, we cannot access directly 
# the elements of the set by index

In [46]:
x = {10,20,30,40,50}

In [47]:
x

{10, 20, 30, 40, 50}

In [55]:
y = ({22,33,44,55,22,66})

In [56]:
y

{22, 33, 44, 55, 66}

In [57]:
type(y)

set

In [60]:
z = ([22,33,44,55,22,66,77,88,99])

In [61]:
z

[22, 33, 44, 55, 22, 66, 77, 88, 99]

In [63]:
days = {"Mon","Tue","Wed"}

In [64]:
type(days)

set

In [67]:
days.remove("Mon")

In [68]:
days

{'Tue', 'Wed'}

In [69]:
days.pop() # It can POP any element randomly in sets, better to specify with remove()

'Wed'

In [70]:
days.clear()

In [71]:
days

set()

In [73]:
del days

In [74]:
days

NameError: name 'days' is not defined

# Loops

In [76]:
# Loops - To determine condition is true or false
# Two types - while and for loops

When doing loops - Example
1. initializatin - i = 0
2. condition - while(i<5)
               print(i)
3. Increment -  i = i+1

In [77]:
# initialization 

i = 0

#condition
while(i<5):
    print(i)
    i=i+1      #increment

0
1
2
3
4

In [79]:
i = 0
while(i<=7):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7

In [82]:
i = 2
while(i<10):
    print("The Value of i :", i)
    i=i+1

The Value of i : 2
The Value of i : 3
The Value of i : 4
The Value of i : 5
The Value of i : 6
The Value of i : 7
The Value of i : 8
The Value of i : 9

In [89]:
k = 2
while(k<=10):
    print(5*k)
    k=k+1

10
15
20
25
30
35
40
45
50

In [91]:
p = 1
s = int(input("Enter the value"))
while(p<=10):
    print(s*p)
    p=p+1

Enter the value2
2
4
6
8
10
12
14
16
18
20

In [93]:
p = 2
s = int(input("Enter the value"))
while(p<=10):
    print(s,'*',p,'=',s*p)
    p=p+1

Enter the value1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [94]:
l = 5

while(l<=10):
    l=l+1
    print(l)

6
7
8
9
10
11

In [100]:
# to get output in horizontal
m = 2

while(m<=10):
    print(m,end=' ')
    m = m+2

2 4 6 8 10

In [106]:
n  = 5

while(n<=20):
    print("inside loop")
    print("The Value of n",n)
    n = n+2

inside loop
The Value of n 5
inside loop
The Value of n 7
inside loop
The Value of n 9
inside loop
The Value of n 11
inside loop
The Value of n 13
inside loop
The Value of n 15
inside loop
The Value of n 17
inside loop
The Value of n 19

# For loop

In [ ]:
# for loops - is collection of objects

# syntax for loop - for index in []

# Range
# range(start,stop,stepsize)

In [3]:
for index in [10,20,30,40]:
    print(index)

10
20
30
40

In [5]:
for index in ['A','B','C','D']:
    print(index)

A
B
C
D

In [6]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [8]:
for p in ['E','F','G','H',10,20]:
    print(p)

E
F
G
H
10
20

In [9]:
for x in ['apple','mango','guava','grapes']:
    print(x)

apple
mango
guava
grapes

In [11]:
for c in ['A',10,22.5,'Planet','True']:
    print(c)

A
10
22.5
Planet
True

In [37]:
list1 = [2,4,6,8,10]

In [38]:
for d in list1:
    print(d)

2
4
6
8
10

In [17]:
list2 =['Naveen','TheinAmma','Ranga','Deepan','Rupavathi','Krithvik','Family']

In [18]:
for i in list2:
    print(i)

Naveen
TheinAmma
Ranga
Deepan
Rupavathi
Krithvik
Family

In [22]:
for i in list2:
    print(i,end="  ")

Naveen  TheinAmma  Ranga  Deepan  Rupavathi  Krithvik  Family

In [24]:
# Range - Sequence of integers

# range(5) - (0,1,2,3,4)

In [25]:
range(5)

range(0, 5)

In [ ]:
# list(range(5))

# output [0,1,2,3,4]

In [27]:
range(3)

range(0, 3)

In [ ]:
# list(range(3))

# output [0,1,2]

In [26]:
range(6)

range(0, 6)

In [ ]:
# list(range(6))

# output [0,1,2,3,4,5]

In [45]:
for i in range(5):
    print(i)

0
1
2
3
4

In [46]:
for i in range(4):
    print(i)

0
1
2
3

In [47]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [49]:
for i in range(0,10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [50]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [ ]:
# list(range(0,6))

# output [0,1,2,3,4,5]

In [55]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [56]:
# range(start,end,jump/skip)
# list(range(5,30,5)) - [5,10,15,20,25]

In [57]:
range(2,10,2)

range(2, 10, 2)

In [61]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [62]:
for i in range(10,100,10):
    print(i)

10
20
30
40
50
60
70
80
90

In [63]:
for i in range(10,101,10):
    print(i)

10
20
30
40
50
60
70
80
90
100

In [67]:
for i in range(1,11):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [66]:
for i in range(2,11):
    print(2/i)

1.0
0.6666666666666666
0.5
0.4
0.3333333333333333
0.2857142857142857
0.25
0.2222222222222222
0.2

In [74]:
n = int(input('Enter number'))

for i in range(1,11):
    print(n*i)

Enter number3
3
6
9
12
15
18
21
24
27
30

In [76]:
n = int(input('Enter number'))

for i in range(1,11):
    print(n,'*',i,'=',n*i,)

Enter number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [77]:
k = []

for i in range(5):
    k.append(i)
    print(k)  # Why it is printing 5 times is print statement is in for loop

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]

In [79]:
x = []

for i in range(10):
    x.append(i)
    print(x,end=" ")

[0] [0, 1] [0, 1, 2] [0, 1, 2, 3] [0, 1, 2, 3, 4] [0, 1, 2, 3, 4, 5] [0, 1, 2, 3, 4, 5, 6] [0, 1, 2, 3, 4, 5, 6, 7] [0, 1, 2, 3, 4, 5, 6, 7, 8] [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
x = []

for i in range(10):
    x.append(i)
    print(x)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
k = []

for i in range(5):
    k.append(i)
print(k)      # Why it is printing 1 times is print statement is outside of for loop

[0, 1, 2, 3, 4]

In [82]:
y = []

for i in range(10,20,2):
    y.append(i)
print(y,end=" ")

[10, 12, 14, 16, 18]

In [85]:
y = []

for i in range(10,40,2):
    y.append(i)
print(y)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [91]:
k = []

for i in range(5):
    string1 = input("Enter City")
    k.append(string1)
    print(k)

Enter CityChennai
['Chennai']
Enter Citybanglore
['Chennai', 'banglore']
Enter Cityerode
['Chennai', 'banglore', 'erode']
Enter CityKGF
['Chennai', 'banglore', 'erode', 'KGF']
Enter CityVellore
['Chennai', 'banglore', 'erode', 'KGF', 'Vellore']

In [92]:
k = []

for i in range(5):
    string1 = input("Enter City")
    k.append(string1)
print(k)

Enter CityChennai
Enter Citybangalore
Enter Cityvellore
Enter CityKGF
Enter CityErode
['Chennai', 'bangalore', 'vellore', 'KGF', 'Erode']

# if - else constructs

In [97]:
marks = 90

if (marks>50):
    print("Good")
else:
    print("Average")

Good

In [98]:
marks = 49

if (marks>50):
    print("Good")
else:
    print("Average")

Average

In [99]:
if (10%2==0):
    print("Even")
else:
    print("Odd")

Even

In [100]:
if (13%2==0):
    print("Even")
else:
    print("Odd")

Odd

In [101]:
p = 12

if (p%2==0):
    print("Even")
else:
    print("Odd")

Even

In [102]:
p = int(input("Enter Number"))

if (p%2==0):
    print("Even")
else:
    print("Odd")

Enter Number17
Odd

In [103]:
p = int(input("Enter Number"))

if (p%2==0):
    print("Even")
else:
    print("Odd")

Enter Number20
Even

In [105]:
p = int(input("Enter Number"))

if (p%2!=0):
    print("Odd")
else:
    print("Even")

Enter Number17
Odd

In [106]:
p = int(input("Enter Number"))

if (p%2!=0):
    print("Odd")
else:
    print("Even")

Enter Number5
Odd

In [107]:
grade = int(input("Enter Grade"))

if(grade>90):
    print("Excellent")
elif grade>80 and grade<=90:
    print("Very Good")
elif grade>70 and grade<=80:
    print("Good")
elif grade>60 and grade<=70:
    print("Average")
else:
    print("Poor")

Enter Grade90
Very Good

In [110]:
grade = int(input("Enter Grade = "))

if(grade>90):
    print("Excellent")
elif grade>80 and grade<=90:
    print("Very Good")
elif grade>70 and grade<=80:
    print("Good")
elif grade>60 and grade<=70:
    print("Average")
else:
    print("Poor")

Enter Grade = 80
Good

In [111]:
grade = int(input("Enter Grade = "))

if(grade>90):
    print("Excellent")
elif grade>80 and grade<=90:
    print("Very Good")
elif grade>70 and grade<=80:
    print("Good")
elif grade>60 and grade<=70:
    print("Average")
else:
    print("Poor")

Enter Grade = 60
Poor

In [113]:
grade = int(input("Enter Grade = "))

if(grade>90):
    print("Excellent")
elif grade>80 and grade<=90:
    print("Very Good")
elif grade>70 and grade<=80:
    print("Good")
elif grade>60 and grade<=70:
    print("Average")
else:
    print("Poor")

Enter Grade = 100
Excellent

# Break and Continue

# Break

In [2]:
for i in ["Apple","Mango","Grapes","Orange"]:
    print(i)

Apple
Mango
Grapes
Orange

In [5]:
for i in ["Apple","Mango","Grapes","Orange"]:
    if  (i=="Grapes"):
        break
    print(i)

Apple
Mango

In [8]:
for x in [1,2,3,4,5,6,7,8,9]:
    if  (x==8):
        break
    print(x)

1
2
3
4
5
6
7

In [16]:
for x in [1,2,3,4,5,6,7,8,9]:
    if  (x==8):
        break
    print(x)    
    
print("End Loop")

1
2
3
4
5
6
7
End Loop

In [17]:
for x in [1,2,3,4,5,6,7,8,9]:
    if  (x==8):
        break
    print(x)
    print("End Loop Inside")
    
print("End Loop Outside")

1
End Loop Inside
2
End Loop Inside
3
End Loop Inside
4
End Loop Inside
5
End Loop Inside
6
End Loop Inside
7
End Loop Inside
End Loop Outside

In [18]:
for x in [1,2,3,4,5]:
    print(x)
    print("End Loop")

1
End Loop
2
End Loop
3
End Loop
4
End Loop
5
End Loop

In [19]:
for x in [1,2,3,4,5]:
    print(x)
    print("End Loop")
print("Completed")

1
End Loop
2
End Loop
3
End Loop
4
End Loop
5
End Loop
Completed

In [24]:
for x in range(2,8):
    print(x)
    print("End Loop")
print("Completed")

2
End Loop
3
End Loop
4
End Loop
5
End Loop
6
End Loop
7
End Loop
Completed

# continue

In [27]:
for i in ["Apple","Mango","Grapes","Orange","Pineapple"]:
    if (i=="Orange"):
        continue
    print(i)

Apple
Mango
Grapes
Pineapple

In [28]:
for i in ["Apple","Mango","Grapes","Orange","Pineapple"]:
    if (i=="Pineapple"):
        continue
    print(i)

Apple
Mango
Grapes
Orange

In [29]:
for i in [10,20,30,40,50,60,70,80,90,100]:
    if (i=="50"):
        continue
    print(i)

10
20
30
40
50
60
70
80
90
100

In [33]:
for i in [10,20,30,40,50,60,70,80,90,100]:
    if (i==50):
        continue
    print(i,end=" ")

10 20 30 40 60 70 80 90 100

In [34]:
for i in [10,20,30,40,50,60,70,80,90,100]:
    if (i!=50):
        continue
    print(i,end=" ")

50

In [36]:
for i in [10,20,30,40,50,60,70,80,90,100]:
    if (i==50):
        continue
    print(i)
print("End")

10
20
30
40
60
70
80
90
100
End

# List Comprehension - Used whenever we need data specific data from the provided list

In [41]:
list1 = [1,2,3,4,5]

m = [i for i in list1]

print(m)

[1, 2, 3, 4, 5]

In [43]:
list2 = [5,6,7,8,9,]

d = [i for i in list2]

print(d)

[5, 6, 7, 8, 9]

In [45]:
list3 = [10,20,25,30,35,40,45,50,55,60]

c = [i for i in list3 if i%2==0]

print(c)

[10, 20, 30, 40, 50, 60]

In [46]:
p = [i for i in range(20)]

p

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [47]:
p = [i for i in range(20) if i%2==0]

p

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [48]:
p = [i for i in range(20) if i%2!=0]

p

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [49]:
k = [i**2 for i in range(20) if i%2==0]

k

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [52]:
j = [i for i in range(0,30,5)]

j

[0, 5, 10, 15, 20, 25]

In [55]:
dict = {1:100,2:200,3:300}
s = [k for k in dict]    # k is capturing keys in dictionary
s

[1, 2, 3]

In [57]:
dict1 = {1:100,2:200,3:300}
s = [k for k in dict1.values()]    # k is capturing values in dictionary
s

[100, 200, 300]

In [58]:
dict1 = {1:100,2:200,3:300}
s = [k for k in dict1.items()]    # k is capturing items(everything) in dictionary
s

[(1, 100), (2, 200), (3, 300)]

In [59]:
j = [i**5 for i in range(0,30,5)]

j

[0, 3125, 100000, 759375, 3200000, 9765625]

In [60]:
j = [i**2 for i in range(0,30,5)]

j

[0, 25, 100, 225, 400, 625]

# String functions - are predefined functions

In [70]:
# upper() - converts strings to upper case
# lower() - converts strings to lower case
# swap () - swaps strings from upper to lower and lower to upper case
# capitalize() - converts first char to capital
# title() converts each char of first letter to caps
# split() splits the entire sentence/char into list
# islower() defines the char is upper or lower by True or False
# isupper() defines the char is upper or lower by True or False
# isdigit() will check the data is alpha by true or False
# isalpha() will check the data is alpha by true or False
# alnum() mixed of alpha and numeric
# startswith() helps to find the starting char
# endswith() helps to find the ending char
# find() finds the position of the char counts every letter including spaces 
# count() the number of letters in the variable
# replace() the char 
# len() find the lenth of the list
# join() join() string method returns a string by joining all the elements of an iterable(list,string,tuple), separated by a string separator
# casefold() ignores matching of words by lowercase and uppercase

In [63]:
word = ("computer")

In [64]:
word

'computer'

In [65]:
word.upper() # upper() - converts strings to upper case

'COMPUTER'

In [67]:
word2 = ('MOBILE')
word2

'MOBILE'

In [68]:
word2.lower() # lower() - converts strings to lower case

'mobile'

In [69]:
word3 = ('TEsLa')
word3

'TEsLa'

In [72]:
word3.swapcase()  # swap () - swaps strings from upper to lower and lower to upper case

'teSlA'

In [73]:
word4 = ('NAVEEN')
word4

'NAVEEN'

In [74]:
word4.lower()

'naveen'

In [75]:
n = word4.lower()
n

'naveen'

In [76]:
na = word4.upper()
na

'NAVEEN'

In [78]:
nav = word4.capitalize()  # capitalize() - converts first char to capital
nav

'Naveen'

In [79]:
word5 = ("naveen kumar")
word5

'naveen kumar'

In [80]:
new = word5.title() # title() converts each char of first letter to caps
new

'Naveen Kumar'

In [81]:
word6 = ("i love my dad ranga he is the greatest")

In [82]:
n1 = word6.title() # title() converts each char of first letter to caps
n1

'I Love My Dad Ranga He Is The Greatest'

In [104]:
q = word5.capitalize()
q

'Naveen kumar'

In [84]:
word5.title()

'Naveen Kumar'

In [85]:
word6.capitalize()

'I love my dad ranga he is the greatest'

In [86]:
word6.split() # split() splits the entire sentence into list

['i', 'love', 'my', 'dad', 'ranga', 'he', 'is', 'the', 'greatest']

In [94]:
word8 = ["Ranganathan Thenmozhi|Deepan Naveen | Rupavathi Krithvik"]

In [99]:
m = word8[0].strip().split("|")[0]
m

'Ranganathan Thenmozhi'

In [102]:
word5

'naveen kumar'

In [105]:
q

'Naveen kumar'

In [100]:
word5.isupper() # isupper() defines the char is upper or lower by True or False

False

In [101]:
word5.islower() # islower() defines the char is upper or lower by True or False

True

In [106]:
q.isupper()

False

In [107]:
test = "1234"
test

'1234'

In [108]:
test.isalpha() # isalpha() will check the data is alpha by true or False

False

In [109]:
test.isdigit() # isdigit() will check the data is alpha by true or False

True

In [113]:
word5

'naveen kumar'

In [114]:
word5.isalpha() = # There should not be any space between the char to use this function

False

In [111]:
word5.isdigit()

False

In [115]:
nav

'Naveen'

In [116]:
nav.isalpha()

True

In [117]:
z = "naveen2205"
z

'naveen2205'

In [118]:
z.isalpha()

False

In [119]:
z.isdigit()

False

In [121]:
z.isalnum()  # alnum() mixed of alpha and numeric

True

In [122]:
x = "there are many galaxies"
x

'there are many galaxies'

In [123]:
x.startswith("there")  # startswith() helps to find the starting char

True

In [124]:
x.startswith("are")

False

In [125]:
x.endswith("galaxies") # endswith() helps to find the ending char

True

In [126]:
word6

'i love my dad ranga he is the greatest'

In [128]:
word6.find("ranga") # find() finds the position of the char counts every letter including spaces

14

In [129]:
word6.find("greatest")

30

In [130]:
word6.find("i")

0

In [131]:
word6.find("love")

2

In [135]:
word6.find("he",28,30)

-1

In [139]:
word6.find("dad",2,30)

10

In [140]:
word6.count('e') # count() the number of letters in the variable

5

In [141]:
word6.count('r')

2

In [142]:
word6.replace('greatest','legend') # replace() the char

'i love my dad ranga he is the legend'

In [143]:
len(word6) #len() finds the length of the list

38

# join() string method returns a string by joining all the elements of an iterable(list,string,tuple), separated by a string separator

In [149]:
w = ["Why", "God", "didnt", "hear", "my", "prayer"]
w

['Why', 'God', 'didnt', 'hear', 'my', 'prayer']

In [147]:
# join elements of text with no space

In [150]:
''.join(w)

'WhyGoddidnthearmyprayer'

In [ ]:
# join elements of text with space

In [151]:
' '.join(w)

'Why God didnt hear my prayer'

In [ ]:
# casefold() ignores matching of words by lowercase and uppercase

In [152]:
s1 = "Tesla"
s2 = "tesla"

if s1.casefold()==s2.casefold():
    print("True")
else:
    print("False")

True

In [153]:
t1 = "Naveen"
t2 = "Kumar"

if t1.casefold()==t2.casefold():
    print("True")
else:
    print("False")

False

# %s %d %f

Python uses C- style string formatting to create, new formatted strings. The "%" operator is used to format a set variables
enclosed in a tuple(a fixed size list), together with a format string, which contains normal text together with "argument
specifiers", special symbols like "%s" and "%d"

In [159]:
name = "naveen"
print("Hello, %s"% name)

Hello, naveen

In [164]:
name = "naveen"
age = 32
salary = 80000.0012
print("%s at the age %d is getting a salary of %f" % (name,age,salary))

print("Salary =%0.2f" % salary)    # getting output of 2 decimals

naveen at the age 32 is getting a salary of 80000.001200
Salary =80000.00

# string.format functions

In [166]:
print("Naveen will {} from all {}".format("rise","odds"))

Naveen will rise from all odds

In [167]:
print("Naveen will {0} from all {1}".format("rise","odds"))

Naveen will rise from all odds

In [173]:
print("Naveen will {0} from all {1},{0} {0} {0}".format("rise","odds"))

Naveen will rise from all odds,rise rise rise

# Functions

functions is a group of related statements that perform a specific task 
functions help break our program into smaller and modular chunks. As our program grows larger and larger, functions make it
more organnized and manageable 

help(), print(), int(), float(), str(), type(), range(), min(), max(), len(), input(), list()

In [174]:
# Built in function(pre defined) - print() int() float() len() str() input() etc
# User defined functions
# Anonymous function or lambda functions

In [189]:
help()

Welcome to Python 3.9's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.9/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> min
Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

help> max
Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

help> input
Help on method raw_input in module ipykernel.kernelbase:

input = raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

help> len
Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

help> symbols

Here is a list of the punctuation symbols which Python assigns special meaning
to. Enter any symbol to get more help.

!=                  +                   <=                  __
"                   +=                  <>                  `
"""                 ,                   ==                  b"
%                   -                   >                   b'
%=                  -=                  >=                  f"
&                   .                   >>                  f'
&=                  ...                 >>=                 j
'                   /                   @                   r"
'''                 //                  J                   r'
(                   //=                 [                   u"
)                   /=                  \                   u'
*                   :                   ]                   |
**                  <                   ^                   |=
**=                 <<                  ^=                  ~
*=                  <<=                 _

help> keywords

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

help> topic
No Python documentation found for 'topic'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> topics

Here is a list of available topics.  Enter any topic name to get more help.

ASSERTION           DELETION            LOOPING             SHIFTING
ASSIGNMENT          DICTIONARIES        MAPPINGMETHODS      SLICINGS
ATTRIBUTEMETHODS    DICTIONARYLITERALS  MAPPINGS            SPECIALATTRIBUTES
ATTRIBUTES          DYNAMICFEATURES     METHODS             SPECIALIDENTIFIERS
AUGMENTEDASSIGNMENT ELLIPSIS            MODULES             SPECIALMETHODS
BASICMETHODS        EXCEPTIONS          NAMESPACES          STRINGMETHODS
BINARY              EXECUTION           NONE                STRINGS
BITWISE             EXPRESSIONS         NUMBERMETHODS       SUBSCRIPTS
BOOLEAN             FLOAT               NUMBERS             TRACEBACKS
CALLABLEMETHODS     FORMATTING          OBJECTS             TRUTHVALUE
CALLS               FRAMEOBJECTS        OPERATORS           TUPLELITERALS
CLASSES             FRAMES              PACKAGES            TUPLES
CODEOBJECTS         FUNCTIONS           POWER               TYPEOBJECTS
COMPARISON          IDENTIFIERS         PRECEDENCE          TYPES
COMPLEX             IMPORTING           PRIVATENAMES        UNARY
CONDITIONAL         INTEGER             RETURNING           UNICODE
CONTEXTMANAGERS     LISTLITERALS        SCOPING
CONVERSIONS         LISTS               SEQUENCEMETHODS
DEBUGGING           LITERALS            SEQUENCES


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [184]:
list5 = [1,2,3,4,5,6,7,8,9,10]

In [186]:
min(list5)

1

In [188]:
max(list5)

10

# User - defined functions

In [193]:
# function definition

def function1():
    print("Hello")

In [195]:
# calling function

function1()

Hello

In [196]:
def function2():
    print("inside function2")

In [198]:
function2()

inside function2

In [199]:
def function3():
    print("learning")
    print("Python")
    print("backtracking")

In [200]:
function3()

learning
Python
backtracking

In [204]:
def addition():
    a = 10
    b = 20
    c = a+b
    print("The value of c =",c)

In [205]:
addition()

The value of c = 30

In [206]:
def subtraction():
    a = 10
    b = 20
    c = b - a 
    print("The value of c =",c)

In [207]:
subtraction()

The value of c = 10

In [212]:
def multiply_fun():
    a = 5
    b = 6
    c = a*b
    print("Multiplication value c = ",c)

In [213]:
multiply_fun()

Multiplication value c =  30

In [218]:
def square_fun():
    x = 7
    print("The value of square x = 6 :", x**2)

In [219]:
square_fun()

The value of square x = 6 : 49

In [222]:
def area_of_circle():
    pi = 3.14
    radius = 5
    area = pi*(radius**2)
    print("Area of circle = ",area)
    print("Area of circle with pi =",3.14,"radius =",5, ":",area)

In [223]:
area_of_circle()

Area of circle =  78.5
Area of circle with pi = 3.14 radius = 5 : 78.5

In [225]:
def area_of_rectangle():
    length = 200
    breadth = 100
    area_rect = length*breadth
    print("Area of rectangle =", area_rect)
    print("Area of rectangle length =",length,"breadth =", breadth,":",area_rect)

In [227]:
area_of_rectangle()

Area of rectangle = 20000
Area of rectangle length = 200 breadth = 100 : 20000

In [1]:
def squareroot_fun():
    x = 25
    y = x**(1/2)
    print("The square root of",x, "is",y)

In [2]:
squareroot_fun()

The square root of 25 is 5.0

In [4]:
def squareroot_fun():
    x = int(input("Enter the value"))
    y = x**(1/2)
    print("The square root of",x, "is",y)

In [5]:
squareroot_fun()

Enter the value60
The square root of 60 is 7.745966692414834

In [6]:
squareroot_fun()

Enter the value50
The square root of 50 is 7.0710678118654755

In [7]:
squareroot_fun()

Enter the value36
The square root of 36 is 6.0

In [8]:
def area_of_circle():
    pi = 3.14
    radius = 12
    area = pi*(radius**2)
    print("The area of circle =",area)

In [9]:
area_of_circle()

The area of circle = 452.16

In [10]:
def area_of_circle():
    pi = 3.14
    radius = int(input("Enter radius"))
    area = pi*(radius**2)
    print("The area of circle =",area)

In [11]:
area_of_circle()

Enter radius10
The area of circle = 314.0

In [13]:
def sq():
    x = int(input("Enter any number"))
    square_root = x**(1/2)
    print("The square root of x",x,"is",square_root)
    square = x**2
    print("The square of x",x,"is",square)

In [14]:
sq()

Enter any number25
The square root of x 25 is 5.0
The square of x 25 is 625

In [15]:
sq()

Enter any number363
The square root of x 363 is 19.05255888325765
The square of x 363 is 131769

In [19]:
def sq1():
    x = int(input("Enter any number"))
    square_root = x**(1/2)
    print("The square root of x",x,"is",round(square_root,2))    # To control the decimal value in output
    square = x**2
    print("The square of x",x,"is",round(square,2))   # To control the decimal value in output

In [21]:
sq1()    # To control the decimal value in output

Enter any number363
The square root of x 363 is 19.05
The square of x 363 is 131769

In [ ]:
3

In [22]:
R = 24.071953

In [23]:
round(R,2)

24.07

In [32]:
def area_rect():
    l = float(input("Enter length"))
    b = float(input("Enter breadth"))
    area = l*b
    print(area,round(area,2))

In [30]:
area_rect()

Enter length22.05
Enter breadth12.05
265.70250000000004 265.7

# Parametric functions

In [34]:
# a and b are arguments/parameters

def add_f(a,b):
    result = a+b
    print("result =", result)

In [35]:
a = 10
b =20
add_f(a,b)

result = 30

In [36]:
def sub(a,b):
    res = a - b
    print("Result =", res)

In [37]:
a = 50
b = 25
sub(a,b)

Result = 25

In [38]:
def square(a):
    ans = a**2
    print('Answer = ',ans)

In [39]:
a = 25
square(25)

Answer =  625

In [40]:
def area_of_circle(radius):
    pi = 3.14
    area = pi*(radius**2)
    print("The area of circle =",area)

In [41]:
radius = int(input("Enter radius"))
area_of_circle(radius)

Enter radius22
The area of circle = 1519.76

In [43]:
def sq2(x):
    square_root = x**(1/2)
    print("The square root of x",x,"is",round(square_root,2))    # To control the decimal value in output
    square = x**2
    print("The square of x",x,"is",round(square,2))   # To control the decimal value in output

In [44]:
x = int(input("Enter any number"))
sq2(x)

Enter any number5
The square root of x 5 is 2.24
The square of x 5 is 25

In [50]:
def func1():
    for i in range(1,11):
        print(i,end=" ")

In [51]:
func1()

1 2 3 4 5 6 7 8 9 10

In [52]:
def func2(y):
    for i in range(1,11):
        print(i,end=" ")

In [53]:
y =10
func2(y)

1 2 3 4 5 6 7 8 9 10

In [56]:
def func3():
    for i in range(0,11,2):
        print(i,end=" ")

In [57]:
func3()

0 2 4 6 8 10

In [59]:
def table_fun(x):
    for i in range(1,11):
        print(x,"*",i,"=",x*i)

In [60]:
x = int(input("Enter number"))
table_fun(x)

Enter number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [61]:
def test_f():
    list1 = []
    for i in range(1,10):
        list1.append(i)
    print(list1)

In [62]:
test_f()

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
def test_f2():
    list2 = []
    for i in ['A','B','C']:
        list2.append(i)
    print(list2)
test_f2()

['A', 'B', 'C']

In [72]:
def test_f3():
    list3 = []
    for i in range(0,5):
        planet = input("Enter Planet Name")
        list3.append(planet)
    print(list3)    
test_f3()

Enter Planet NameMercury
Enter Planet NameVenus
Enter Planet Nameearth
Enter Planet NameMars
Enter Planet NameJupiter
['Mercury', 'Venus', 'earth', 'Mars', 'Jupiter']

In [76]:
def test_f4():
    list4 = []
    for i in range(20):
        if i%2==0:
            list4.append(i)
    print(list4)
test_f4()

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [75]:
def test_f5():
    list5 = []
    for i in range(20):
        if i%2!=0:
            list5.append(i)
    print(list5)
test_f5()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [14]:
family = [['John', '45', 'father'] ,['Janet', '40', 'mother'],['James', '12', 'son'],['Julie', '8', 'daughter']]



name = [item[0] for item in family]

age = [item[1] for item in family]

relationship = [item[2] for item in family]



print(name)

print(age)

print(relationship)

['John', 'Janet', 'James', 'Julie']
['45', '40', '12', '8']
['father', 'mother', 'son', 'daughter']