# Functions Contd

# Global and Local Variables

In [1]:
testx = 100 # Glonbal Variables can be accessed outside functions

In [2]:
def func():
    p = 45   # local variables can be accessed only inside the functions
    print(p)

In [4]:
func()

45

In [16]:
def func1():
    global testx  # keyword to access the global variable
    p = 45   # local variables can be accessed only inside the functions
    print(p)
    print(testx)

In [17]:
func1()

45
100

In [1]:
m = 345

In [2]:
def function2():
    m = 22
    print(m)

In [4]:
function2()

22

In [5]:
m

345

In [10]:
def f1():
    p = 10
    print(p)

In [14]:
def f2():
    f1()

In [15]:
f2()

10

In [16]:
def fun1():
    a = 10
    b = 5
    print("Add = ", a+b)

In [19]:
def fun2():
    fun1()
    c = 20
    d = 25
    print("Sub = ", d-c)

In [20]:
fun2()

Add =  15
Sub =  5

# Return Keyword

In [21]:
def funct():
    x = 20
    y = 25
    z = x + y
    return z  # Will hold the variable outside the function

In [22]:
funct()

45

In [24]:
h = funct()

In [25]:
h

45

In [33]:
def funct3():
    k = 24
    j = h-k   # Getting the value from h (funct()) 
    print(j)

In [35]:
funct3()

21

In [27]:
# Without using return function variable isnot callable outside

def funct2():
    x = 25
    y = 30
    z = x + y
    print(z)

In [28]:
funct2()

55

In [32]:
m = funct2() # Unable to call the variable outside

55

# Variable Number of Arguments

In case where you don't know the exact number of arguments that you want to pass to a function, you can use the following 
syntax with *args:

In [39]:
def plusfunction(*args):
    return sum(args)

In [40]:
# calling the function

plusfunction(1,2,3)

6

In [41]:
plusfunction(4,5,6,7,8,9,10) # can able to pass many number of values with the help of *arg function.

49

In [42]:
def maxfunction(*args):
    return max(args) # max function predefined to find the max value

In [43]:
maxfunction(1,2,3,4,5,6)

6

In [44]:
maxfunction(80,77,22,999)

999

In [45]:
def minfunction(*x):  # min predefined function we can use any variable for *args but we need to use the same variable to call the function
    return min(x)

In [46]:
minfunction(1,2,3,4,5)

1

In [47]:
minfunction(222,333,456,2000)

222

In [53]:
# Trying with user defined function

def sumfunc(*num):
    
    s = 1
    for n in num:
        s = s+n
    return s

In [54]:
sumfunc(1,2,3)

7

In [ ]:
# def sumfunc1(*nums):
    
    s = 2
    for n in nums:
        s+=n
    return s

In [58]:
sumfunc1(2,3,5)

12

# Anonymous or lambda function

lambda

A lamba function is a small function containing a single expression. Lambda function can also act as anonymous functions
where they dont require any name. These are very helpful when we have to perform small task with less codes

The expression is composed of:

The Keyword: lambda
A bound variable: x
A body: x*2

# lambda variable:expression

In [4]:
x1 = lambda x: x+2

In [5]:
x1(10)

12

In [6]:
x1(20)

22

In [7]:
x2 = lambda x,y: x+y

In [8]:
x2(2,3)

5

In [9]:
x2(22,50)

72

In [10]:
x3 = lambda a,b: a*b

In [11]:
x3(2,2)

4

In [17]:
x4 = lambda c: c**2

In [18]:
x4(5)

25

In [19]:
x5 = lambda d: d**(1/2)

In [21]:
x5(36)

6.0

In [22]:
area = lambda pi,radius:pi*(radius**2)

In [23]:
area(3.14,22)

1519.76

In [24]:
y = lambda m,n: m/n

In [25]:
print("The Value :", y(25,5))
print("The Value :", y(222,2))

The Value : 5.0
The Value : 111.0

In [26]:
# Converting temp in fahrenheit 

def fahrenheit(t):
    return ((9/5)*t + 32)

In [27]:
fahrenheit(32)

89.6

In [29]:
f = fahrenheit(45)
f

113.0

In [30]:
# Converting temp in Celsius 

def celsius(t):
    return ((5/9)*(t-32))

In [32]:
c = celsius(25)
c

-3.8888888888888893

In [33]:
cel = celsius(90)
cel

32.22222222222222

In [41]:
def testin():
    x = int(input("Enter x = "))
    y = int(input("Enter y = "))
    z = lambda x,y:x*y
    print(z(x,y))

In [43]:
testin()

Enter x = 22
Enter y = 24
528

In [44]:
celsius = lambda t: (9/5)*t+32  # Converting celsius to fahrenheit

In [46]:
celsius(38)

100.4

In [55]:
fahrenheit = lambda te: (5/9)*(te-32) # Converting fahrenheit to celsius

In [56]:
fahrenheit(98)

36.66666666666667

In [57]:
list1 = [10,20,30,40]
map(lambda x:x+2,list1)

In [59]:
list1 = [10,20,30,40]
list(map(lambda x:x+2,list1)) # list and map are pre defined function

[12, 22, 32, 42]

In [67]:
list2 = [10,20,30,40,50,60]

In [70]:
list3 = list(map(lambda x:x**2,list2)) # defined a new variable for the result
list3

[100, 400, 900, 1600, 2500, 3600]

In [73]:
list4 = [222,333,444,555]
list5 = list(map(lambda y:y**(1/2),list4))
list5

[14.89966442575134, 18.24828759089466, 21.071307505705477, 23.558437978779494]

In [82]:
c = [32.5,33.6,34.8,40.5]  # Celsius to fahrenheit
f = list(map(lambda x:(9/5)*x+32,c))
f

[90.5, 92.48, 94.63999999999999, 104.9]

In [84]:
f2 = [round(x,2) for x in f]
f2

[90.5, 92.48, 94.64, 104.9]

In [86]:
f3 = ['%.2f' % x for x in f]
f3

['90.50', '92.48', '94.64', '104.90']

In [78]:
ft = [90.5,93.6,98.8,99.5]  # # fahrenheit to celsius
ct = list(map(lambda y:(5/9)*(y-32),ft))
ct

[32.5, 34.22222222222222, 37.111111111111114, 37.5]

In [85]:
ct2 = [round(y,2) for y in ct]
ct2

[32.5, 34.22, 37.11, 37.5]

In [87]:
ct3 = ['%.2f' % y for y in ct]
ct3

['32.50', '34.22', '37.11', '37.50']

In [89]:
# Find circumference of circle.....(2*pi*radiusvalue) using map in lambda... pi= 3.14

radius=[4,5,6,7,8,9]

cir = list(map(lambda z: 2*3.14*z,radius))
cir

[25.12, 31.400000000000002, 37.68, 43.96, 50.24, 56.52]

In [91]:
cirnew = ['%.1f' %k for k in cir]
cirnew

['25.1', '31.4', '37.7', '44.0', '50.2', '56.5']

# Filter in Lambda

filter() function

It returns the items when function is true
If none of the element meets the condition, it will return nothing. In the code below, we are checking if value is
greate than 2

In [92]:
mylist = [1,2,3,4,5,6,7,8,9,10]

list(filter(lambda x: x>2, mylist))

[3, 4, 5, 6, 7, 8, 9, 10]

In [93]:
even = lambda x: x % 2 == 0
list(filter(even, range(20)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [94]:
# Trying with list comprehension

[x for x in range(25) if x%2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

# Class in python

The nasic idea behinf an object oriented programming language (OOP) is to combine both data and associated procedures 
(known as methods) into a single unit which operate on the data. Such a unit is called an object.

Pythonn is an Object Oriented Programming language, everything in Python is an object.

See screenshot 0nn 081322 folder for more description.

In [ ]:
Class is a architecture of the object. A user defined prototype for an object that defines a set of attributes that
characterize any object of the class.

The attributes are data members (class variables and instance variables) and methods, accessed via dot notation
classes provides a means of bundling data and functionality together.
Creating a new class creates a new type of object, allowing new instances of that type to nbe made.

Data member -  A class variable or instance variable that holds data associated with a class and its objects.

Function -- function is a code that specify some task

Instance - An individual object of certain class. An object obj belongs to certain a class circle, for example, is an instance
of the class circle.

Constructor is a special method. You can think as a function which initializes or activates the attributes or properties
of the class for a object. Use keyword__int__to create a method for constructor.

# keyword two times underscore init two times underscore #

class - OOPS --- Object oriented programming technology

In [6]:
class student:
    def __init__(self,rollno,name):  # self instance/object name....Used two times underscore
        self.rollno = rollno
        self.name = name
    
    def display(self):
        print("Student Rollno = ",self.rollno,"and Name =",self.name)

In [7]:
# creating instance object

obj1 = student(22,"Naveen") # This line will automatically invoke the initialization constructor 
obj1.display()              # User defined function is called explicity

Student Rollno =  22 and Name = Naveen

In [9]:
stu1 = student(24,"Ranga")
stu1.display()

Student Rollno =  24 and Name = Ranga

In [11]:
class  employee:
    
    def __init__(self,empid,empname,sal):
        self.empid = empid
        self.empname = empname
        self.sal = sal
        
    def display(self):
        print(self.empid," ",self.empname," ",self.sal)

In [12]:
emp1 = employee(22,"Naveen",80000)
emp1.display()

emp2 = employee(1,"Theinamma",100000)
emp2.display()

emp3 = employee(24,"Ranga",200000)
emp3.display()

22   Naveen   80000
1   Theinamma   100000
24   Ranga   200000

In [15]:
emp1.empid

22

In [16]:
emp3.empname

'Ranga'

In [17]:
class  employee1:
    revenue = 3000000                     # Class Variable
    
    def __init__(self,empid1,empname1,sal1):
        self.empid1= empid1                # instance variable  
        self.empname1 = empname1
        self.sal1 = sal1
        
    def display(self):
        print(self.empid1," ",self.empname1," ",self.sal1)

In [18]:
employee1.revenue

3000000

In [23]:
class person:
    def __init__(self,id,name):
        self.id = id
        self.name = name
        
    def display(self):
        print("Id is", self.id,"Name is ",self.name)
        
#instance object

p1 = person(101,"Andy")
p1.display()

p2 = person(102,"Mark")
p2.display()

Id is 101 Name is  Andy
Id is 102 Name is  Mark

In [24]:
def main():
    p = person(200,"Thein")
    p.display()

In [26]:
if __name__=="__main__":
    main()

Id is 200 Name is  Thein

In [30]:
class player:
    
    def __init__(self,name,age,sport):
        print("Initialize data for players")
        self.name = name
        self.age = age
        self.sport = sport
        
        
    def getdata(self,name,age,sport):
        print("Getting data for players")
        self.name = name
        self.age = age
        self.sport = sport
        
    
    def displaydata(self):
        print("Player details :", self.name,self.age,self.sport)
    
def main():
    p1 = player("Virat",35,"Cricket")
    p1.displaydata()
    
    p1.getdata("Messi",35,"Football")
    p1.displaydata()
    
    p2 = player("Dhoni",38,"Cricket")
    p2.displaydata()
    
    p2.getdata("Ronaldo",38,"Ronaldo")
    p2.displaydata()
    
if __name__=="__main__":
    main()

Initialize data for players
Player details : Virat 35 Cricket
Getting data for players
Player details : Messi 35 Football
Initialize data for players
Player details : Dhoni 38 Cricket
Getting data for players
Player details : Ronaldo 38 Ronaldo

# Modules refer recording video 0814

In [31]:
import keyword

In [34]:
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

Python module search path

While importing a module, python looks at several places. Interpreter first looks for a built in module then(if not found)
into a list of directories defined in sys.path. The search is in thos order, the current directory

refer recording video 0814

In [35]:
import sys

In [36]:
sys.path

['C:\\Users\\navee',
 'C:\\ProgramData\\Anaconda3\\python39.zip',
 'C:\\ProgramData\\Anaconda3\\DLLs',
 'C:\\ProgramData\\Anaconda3\\lib',
 'C:\\ProgramData\\Anaconda3',
 '',
 'C:\\Users\\navee\\AppData\\Roaming\\Python\\Python39\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin']

In [37]:
import os

In [38]:
# get current working directory

os.getcwd()

'C:\\Users\\navee'

In [ ]:
# changing directory

# we can change the current working directory using the chdir() method.
# os.chdir('C:\\Users\\navee')
# os.getcwd()      # Do not change the  directory

In [39]:
# Shows the list of files and folders in current working directory

os.listdir()

['.anaconda',
 '.conda',
 '.condarc',
 '.continuum',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '3D Objects',
 'AppData',
 'Application Data',
 'Audio_DTS_ROG_Realtek_B_V6.0.9239.1_24698.exe',
 'Billionaires.csv',
 'Class OOPS - Object Oriented Programming Technology.ipynb',
 'Contacts',
 'Cookies',
 'Copy Selenium.ipynb',
 "Data Trained Live Class - Aug'22.ipynb",
 "Data Trained Live Class - July'2022 Basics Python, Data Structures.ipynb",
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'file1.csv',
 'file2.csv',
 'Funding.csv',
 'Guitar.csv',
 'Hostel.csv',
 'IntelGraphicsProfiles',
 'Laptop.csv',
 'Links',
 'Live Class 0702 and 0703.ipynb',
 'Local Settings',
 'Music',
 'My Documents',
 'Naveen  Data Trained  Live Class 625 626.ipynb',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf',
 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Online Courses Testing Expressions Data Branching.ipynb',
 'Pictures',
 'Practice Assignments Python.ipynb',
 'PrintHood',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'smartphone.csv',
 'Start Menu',
 'Templates',
 'Videos',
 'Web Scraping Assignment - Beautiful Soup - Naveen Kumar Ranganathan-Copy1.ipynb',
 'Web Scraping Assignment - Beautiful Soup - Naveen Kumar Ranganathan.ipynb',
 'Web Scraping Exception Handling Selenium - Naveen Kumar Ranganathan-Copy1.ipynb',
 'Web Scraping Exception Handling Selenium - Naveen Kumar Ranganathan.ipynb',
 'Web Scraping using Selenium_ Naveen Kumar Ranganathan-Copy1.ipynb',
 'Web Scraping using Selenium_ Naveen Kumar Ranganathan.ipynb',
 'WirelessLan_ROG_MediaTek_Z_V3.00.01.1244Sub1_28758.exe',
 'YouTube.csv']

In [40]:
import math  # importing inbuilt math module

In [41]:
math.pi

3.141592653589793

In [45]:
math.sqrt(36)

6.0

In [50]:
math.sqrt(81)

9.0

In [51]:
math.pow(2,2) # 2 is base and 2 is power

4.0

In [52]:
math.pow(2,3) # 2 is base and 3 is power

8.0

In [53]:
math.pow(3,6)

729.0

In [55]:
# Area of circle

radius = 10

areaofcircle = math.pi*(radius**2)
round(areaofcircle,2)

314.16

In [56]:
areaofcircle

314.1592653589793

In [63]:
def find_sqrt(x):
    return math.sqrt(x)

x = int(input("Enter X = "))
round(find_sqrt(x),2)

Enter X = 6

2.45

In [64]:
find_sqrt(x)

2.449489742783178

In [66]:
def fun_power(a,b):
    return math.pow(a,b)    # a is base and b is power

a = int(input("Enter a = "))
b = int(input("Enter b = "))

fun_power(a,b)

Enter a = 5
Enter b = 5

3125.0

In [67]:
# We can also import the modules into  specific variables

import math as mt

In [68]:
mt.pow(2,4)

16.0

In [71]:
mt.sqrt(9)

3.0

In [70]:
def fun_power(a,b):
    return mt.pow(a,b)    # a is base and b is power and module changed to # mt

a = int(input("Enter a = "))
b = int(input("Enter b = "))

fun_power(a,b)

Enter a = 6
Enter b = 6

46656.0

# If we want to import specific function from math we can call it bbu using # from

In [72]:
from math import sqrt

In [73]:
sqrt(81)

9.0

In [76]:
from math import pi,pow

In [75]:
pi

3.141592653589793

In [77]:
pow(3,3)

27.0

In [81]:
math.__dict__.keys()

dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log1p', 'log10', 'log2', 'modf', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'trunc', 'prod', 'perm', 'comb', 'nextafter', 'ulp', 'pi', 'e', 'tau', 'inf', 'nan'])

In [82]:
# Get current Date and Time

import datetime

In [83]:
dt = datetime.datetime.now()
dt

datetime.datetime(2022, 12, 29, 8, 32, 1, 540779)

In [84]:
dt1 = datetime.date.today()
dt1

datetime.date(2022, 12, 29)

In [97]:
dt1.year

2022

In [98]:
dt1.month

12

In [99]:
dt1.day

29

Commonly used classes in the datetime module are:

date class
time class
datetime class
timedelta class

A time object instantiated from the time class represents the local time

In [100]:
from datetime import time

In [101]:
a = time()
print(a)

00:00:00

In [102]:
# time(hour,minute,seconds)

b = time(8,46,22)
print(b)

08:46:22

In [105]:
print(b.hour,"hour",b.minute,"Min",b.second,"Sec")

8 hour 46 Min 22 Sec

# Pip Python Package Manager

The best way to manage Python's third party packages/modules is with pip.

!pip install Textblob

# File Input/Output Operations

f = open('C:\\python\\file1.txt','w') # to create and write a file
f = open('C:\\python\\file1.txt','r') # to read a file
f = open('C:\\python\\file1.txt','a') # to append the file

# rb is read binary
# wb is read binary

# When creating the file use \\ slash

In [158]:
file1 = open('C:\\Users\\navee\\Desktop\\Data Science Course Materials\\081322 and 081422 modules, Functions,class and packages\\demofile.txt','w')

In [159]:
file1.write("This is the first line")

22

In [160]:
file1.close()

In [161]:
file1 = open('C:\\Users\\navee\\Desktop\\Data Science Course Materials\\081322 and 081422 modules, Functions,class and packages\\demofile.txt','r')

In [162]:
file1.read()

'This is the first line'

In [163]:
file1.close()

In [164]:
file1 = open('C:\\Users\\navee\\Desktop\\Data Science Course Materials\\081322 and 081422 modules, Functions,class and packages\\demofile.txt','a')

In [165]:
file1.write("\n My father name is C.Ranganathan")

33

In [166]:
file1.close()

In [167]:
file1 = open('C:\\Users\\navee\\Desktop\\Data Science Course Materials\\081322 and 081422 modules, Functions,class and packages\\demofile.txt','r')

In [168]:
file1.read()

'This is the first line\n My father name is C.Ranganathan'

In [169]:
file1.close()

# Serialization  082022

# Serialization - Dragging or saving the file from jupyter to any file format(obj or binary) is call serialization
# De Serialization - vice versa of serialization which is dragging the file into jupyter notebook

pickle - built in method for serialization

dump method - serialization from dictionary object to binary
load method - De serialization from binary to dictionary object

# Pickle in python: Object Serialization

In [193]:
# We will not be able to read the file as it is stored in binary formats

In [170]:
import pickle

In [172]:
flower_dict = {1:"Rose",2:"Lily",3:"Lotus",4:"Tulip"}

In [176]:
# Saving the file sample

filename = 'flower'
outfile = open(filename,'wb')  # wb is write binary

In [184]:
#  filename = 'flower'
outfile = open('flower.obj','wb')  # file will be stored in jupyter home page

In [185]:
# picking the file
# dump method serialize

pickle.dump(flower_dict,outfile)
outfile.close()

In [186]:
# Unpickle the file sample

infile = open(filename,'rb') # rb is read binary

In [187]:
# Unpickle the file

infile = open('flower.obj','rb') # rb is read binary

In [ ]:
# de serialize
# load method

new_dict = pickle.load(infile)

In [189]:
infile.close()

In [190]:
print(new_dict)

{1: 'Rose', 2: 'Lily', 3: 'Lotus', 4: 'Tulip'}

In [192]:
print(new_dict == flower_dict)

True

# Exception handling

An exception is an event, which occurs during the execution of the program that disrupts the normal flow 
of the program's instructions. In general, when a python script encounters a situation that it cannot cope with,
it raises an exception. An exception is a Python object that represents an error.

When running a code we may get runtime error, in order to resolve we use exception handling

# Handling Exceptions

The try statement works as follows

first, the try clause (the statements between the try and except keywords) is executed.

If no exception occurs, the except clause is skipped and execution of the try statement is finished.

If an exception occurs during execution of the try clause, the rest of the clause is skipped.
Then if its type matches the exception named after the except keyword, the except clause is executed, and then execution
conntinues after the try statement

In [194]:
try:
    79/0
except ZeroDivisionError as err:
    print("Handling run time error",err)

Handling run time error division by zero

In [195]:
try:
    8+m*2
except NameError as err:
    print("Handling run time error",err)

Handling run time error name 'm' is not defined

In [196]:
try:
    i = int(input("value"))
    p = 50/i
except ZeroDivisionError:
    print("Zero Division")
except NameError:
    print("Name Error")
except IndentationError:
    print("Check Indentation")
else:
    print(p)

value5
10.0

In [197]:
try:
    i = int(input("value"))
    p = 50/i
except ZeroDivisionError:
    print("Zero Division")
except NameError:
    print("Name Error")
except IndentationError:
    print("Check Indentation")
else:
    print(p)

value0
Zero Division

In [200]:
a = [10,20,30]

try:
    print(a[1])
    print(a[2])
    print(a[3])
except:
    print("out of range")
else:
    print('Hello')
finally:
    print("End of the program")

20
30
out of range
End of the program

In [203]:
def testf():
    a = int(input("Enter = "))
    b = int(input("Enter = "))
    c = a/b
    print("c = ",c)
try:
    testf()
except ZeroDivisionError:
    print("Divided by zero")

Enter = 50
Enter = 5
c =  10.0

In [204]:
def testf():
    a = int(input("Enter = "))
    b = int(input("Enter = "))
    c = a/b
    print("c = ",c)
try:
    testf()
except ZeroDivisionError:
    print("Divided by zero")

Enter = 50
Enter = 0
Divided by zero

In [205]:
try:
    testf()
except ArithmeticError:
    print("Some error")
    print("ArithmeticError")

Enter = 66
Enter = 0
Some error
ArithmeticError

In [207]:
def typecasting():
    x = input("Enter the value")
    y = input("Enter the value")
    z = x*y
    print("z = ", z)

In [208]:
try:
    typecasting()
except TypeError:
    print("typecast  error")

Enter the value45
Enter the value9
typecast  error

In [209]:
def typecasting():
    x = int(input("Enter the value"))
    y = int(input("Enter the value"))
    z = x*y
    print("z = ", z)
    
try:
    typecasting()
except TypeError:
    print("typecast  error")

Enter the value45
Enter the value9
z =  405